In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('./ds/realfishdataset.csv')
df

       ph  temperature  turbidity   fish
0    6.00        27.00       4.00  katla
1    7.60        28.00       5.90   sing
2    7.80        27.00       5.50   sing
3    6.50        31.00       5.50  katla
4    8.20        27.00       8.50  prawn
..    ...          ...        ...    ...
586  7.07        21.12       3.57   sing
587  6.99        21.19       3.56   sing
588  6.87        21.00       3.56   sing
589  6.68        21.19       3.58   sing
590  6.95        21.12       3.58   sing

[591 rows x 4 columns]

In [6]:
df2 = df[ (df['fish'] == 'katla') | (df['fish'] == 'rui') | (df['fish'] == 'silverCarp')]

In [9]:
df2.shape

(157, 4)

In [12]:
clean_df = df.drop(columns=['fish'])

In [13]:
clean_df

       ph  temperature  turbidity
0    6.00        27.00       4.00
1    7.60        28.00       5.90
2    7.80        27.00       5.50
3    6.50        31.00       5.50
4    8.20        27.00       8.50
..    ...          ...        ...
586  7.07        21.12       3.57
587  6.99        21.19       3.56
588  6.87        21.00       3.56
589  6.68        21.19       3.58
590  6.95        21.12       3.58

[591 rows x 3 columns]

In [14]:
clean_df.to_json('./ds/pond.json')